* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: rgb(24, 24, 24);
}

body {
    overflow-x: hidden;
}

nav {
    background-color: rgb(24, 24, 24);
}

.nav__bar {
    max-width: 1200px;
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    text-decoration: none;
}

.nav__logo a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    padding: 1.5rem 5px;
    font-weight: 500;
    color: #dcdcdc;
    transition: 0.3s;
    text-decoration: none;
}

.link a:hover {
    border-bottom: 2px solid #6b6e6c;
}

.link span {
    padding: 1rem 0;
    color: #e6e3e3;
    cursor: pointer;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}
.contain{
    
    margin-top: 10%;
    
}
.container {
    height: 100vh;
    display: grid;
    place-items: center;
}
h3{
    font-size: 6rem;
    margin-left: 10%;
}
h1 {
    font-size: 8rem;
    margin-top: 60%;
    margin-right: 40%;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.content-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%; /* Adjust margin to avoid overlap */
}

.card {
    width: 450px;
    height: 225px;
    background: #302f2f;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-left: 10%;
    border-radius: 10px;
    padding: 15px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; /* Space between header and text */
}

.circles {
    display: flex;
    gap: 8px;
}

.c {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    box-shadow: inset 2px 2px 5px rgba(255, 240, 240, 0.356);
}

.c:first-child {
    background-color: red;
}

.c:nth-child(2) {
    background-color: rgb(204, 167, 4);
}

.c:last-child {
    background-color: green;
}

.browser {
    display: flex;
    align-items: center;
    gap: 30px;
}

.chevrons {
    display: flex;
    color: #ffffff;
}

.search-bar {
    position: relative;
    border: 0.5px solid rgb(246, 245, 245);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 10px;
    color: rgb(88, 88, 88);
    box-shadow: inset 2px 2px 2px #918c8c25;
}

.search-bar svg {
    margin-right: 5px;
}

.card-text {
    color: #b6b7b6;
    font-size: 1rem;
    margin-top: 10px; /* Add space above the text */
}

.container1 {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10%;
}

h2 {
    font-size: 6rem;
    margin-top: 0;
    text-align: right;
    text-transform: uppercase;
    color: whitesmoke;
    margin-left: 55%;
}

h5 {
    font-size: 1.5rem;
    text-align: right;
    text-transform: uppercase;
    color: whitesmoke;
    margin-left: 30%;
}

section {
    height: 100vh;
}

.footer {
    background-color: rgb(24, 24, 24);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links li a:hover {
    color: #ccc;
}
.container3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
  }
  
  .container3 .glass {
    position: relative;
    width: 180px;
    height: 200px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
  }
  
  .container3:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;
  }
  
  .container3 .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .container3 .glass svg {
    font-size: 2.5em;
    fill: #fff;
  }
  
@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
        margin-top: 150%;
        margin-right: 30%;
        padding: 20px;
    }

    h2 {
        font-size: 4rem;
        margin-left: 35%;
        padding: 20px;
    }
    h5{
        font-size: 1.5rem;
        margin-left: 55%;
        padding: 20px;
    }
    .nav__links {
        font-size: 0.8rem;
        gap: 0px;
    }

    .container {
        height: auto;
    }

    .container1 {
        height: auto;
    }

    .content-row {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 2rem;
        background: #454545;
        width: 270px;
    }

    .footer {
        font-size: 14px;
    }
}
